.h3-text{

    font: normal normal 40px/40px md-text-font;
    margin: 10px 0 20px 0;
}

.div-invitados{
    max-width: 700px;
    min-width: 300px;
    width: 600px;
    display: grid;

    grid-template-columns:  15% 85%;
}

.img-vineta{
    height: 35px;
    justify-self: flex-end;
    margin: 10px 10px 0 0;
}

@media (max-width: 800px) {

    .div-invitados{
        width: 300px;
    }

    .h3-text{
        font: normal normal 25px/25px md-text-font;
        margin: 10px 0 20px 0;
    }
}