
.home-container{
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-inner-container{
    width: 1200px;
}

.video-save{
    margin: 50px 0;
}

@media (max-width: 1200px) {
    .home-inner-container{
        margin: 0 20px;
    }
}
