
.leyenda-invitacion{
    text-align: center;
    font: normal normal 16px/20px md-text-font;
    margin: 15px;
}

.foto-titulo{
    height: 350px;
    margin: 20px 0 50px 0;
    max-height: 450px;
}

.foto-titulo-vertical{
    height: 500px;
    margin: 20px 0 50px 0;
    max-height: 450px;

}

.y-invitacion{
    font: normal normal 20px/20px md-text-font;
    font-weight: bold;
}

.div-invitacion-titulo{
    margin-bottom: 30px;
}

@media (max-width: 800px){
    .foto-titulo{
        height: 200px;
        margin: 20px 0 50px 0;
    }

    .foto-titulo-vertical{
        height: 400px;
        margin: 20px 0 50px 0;
    }
}