
@font-face {
  font-family: "md-text-font";
  src: url('./assets/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "md-tittle-font";
  src: url('./assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  /*background: #004d24;*/
  /*background: #c2582b;*/
  /*background: #5c4b52;*/
  /*user-select: none;*/
}

html, body{
  width: 100%;
}

h1{
  font: normal 60px/60px md-tittle-font;
  margin: 15px 0 25px 0;
}

h3{
  font: normal normal 35px/35px md-tittle-font;
  margin: 10px 0 20px 0;
}


.h4-alt{
  font: normal normal 30px/30px md-text-font;
  margin: 10px 0 20px 0;
}

p{
  font: normal normal 16px/20px md-text-font;
}

button{
  height: 40px;
  min-width: 200px;
  margin: 35px 0 50px 0;
  color: white;
  font: normal normal 14px/20px md-text-font;
  border: none;
}

.btn-primary{
  background: #004d24;
}

.btn-primary:hover{
  opacity: 0.9;
}



.bg-verde-md{
  background: #004d24;
}
.bg-morado-md{
  background: #5C4B52;
}
.bg-terracota-md{
  background: #C2582B;
}
.color-verde-md{
  color: #004d24;
}
.color-morado-md{
  color: #5C4B52;
}
.color-terracota-md{
  color: #C2582B;
}

/*#C8986A
#DB8D46

#A0A77E
#3B5246

#875986
#725682*/

.centrar-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}

.centrar-content-vertical{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;

}

.centrar-text{
  text-align: center;
}

.justify-text{
  text-align: justify;
}


