
@font-face {
  font-family: "md-text-font";
  src: url('./assets/fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: "md-tittle-font";
  src: url('./assets/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  /*background: #004d24;*/
  /*background: #c2582b;*/
  /*background: #5c4b52;*/
  user-select: none;

}

.bg-verde-md{
  background: #004d24;
}
.bg-morado-md{
  background: #5C4B52;
}
.bg-terracota-md{
  background: #C2582B;
}
/*#C8986A
#DB8D46

#A0A77E
#3B5246

#875986
#725682*/

.centrar-content{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}